* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.808);
  height: 100%;
}

/* ----------------------العنوان-------------------------- */

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding-bottom: 10px;
}
.head-a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.title {
  text-align: center;
}

.head-li {
}

/* -----------------------المحتوى---------------------------- */

.menu {
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 25px;
  height: 450px;
  margin-top: 50px;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin: 10px;
}

.menu-title {
  display: block;
}

/* ------------------------الشريط الجانبي--------------------- */
/* --------------------200px اجعل عرض الشريط------------------ */
.sidebar {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 20px;
}
.side-a {
  text-decoration: none;
  color: black;
}
.side-ul {
  margin-left: 40px;
}
h2 {
  margin-right: 25px;
}
p {
  text-align: center;
}
.side-li {
  padding: 10px;
}
